.carousel{
  position: relative;
  height: 500px;
  width: 60%;
  filter: drop-shadow(0px 0px 10px black);
  padding-bottom: 35px;
}

@media screen and (max-width: 800px) {
  .carousel {
    height: 550px;
    width: 95%;
  }
}

@media screen and (min-width: 801px) {
  .carousel {
    height: 600px;
    width: calc(60% - 5px);
  }
}

.carousel__image{
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position: top;
}

.carousel__track-container{
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 25px;
}

.carousel__track{
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 99;
}

.carousel__button svg{
  width: 50px;
  height: 50px;
  filter: drop-shadow(0px 0px 10px black);
  transition: ease-in-out 500ms;
}

.carousel__button svg:hover{
  filter: drop-shadow(0px 0px 10px var(--purple));
}

.carousel__button--left{
  left: 10px;
}

.carousel__button--right{
  right: 10px;
}

.carousel__nav{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  gap: 1.5em;
}

.carousel__indicator{
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(255, 255, 255, 0.822);
}

.carousel__indicator.current-slide{
  background: rgba(102, 102, 102, 0.75);
}

.carousel__nav {
  opacity: 0.5;
}