:root {
    --purple-grandient: rgba(140, 0, 255, 0.15);
    --purple: rgba(140, 0, 255, 1);
    --purple-dark: rgb(66, 0, 121);
    --purple-dark-dark: rgb(33,0,59);
    --purple-medium: rgb(49, 0, 88);
    --purple-light: rgb(63,0,113);
    --gray-dark: rgb(20,20,20);
    --gray: rgb(31,31,31);

    --s: 137px; /* control the size*/
    --c1: #260044;
    --c2: #310058;
    --c3: #24003d;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body {
  width: 100%;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}

body {
    background-color: black!important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* -----------------------------Scroll-bar-------------------------- */

body {
    --sb-track-color: #141414;
    --sb-thumb-color: #420079;
    --sb-size: 10px;
  }
  body::-webkit-scrollbar {
    width: var(--sb-size)
  }
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 15px;
  }
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 15px;
    
  }
  @supports not selector(::-webkit-scrollbar) {
    body {
      scrollbar-color: var(--sb-thumb-color)
                       var(--sb-track-color);
    }
  }

/* -----------------------------Header------------------------------ */

header {
    background-color: transparent;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    z-index: 10;
    transition: all 500ms;
    }
    nav {
    display: flex;
    gap: 50px;
    filter: drop-shadow(0px 4px 5px black);
    }
      .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      /* background-color: rgba(99, 99, 99, 0); */
      transition: all 1s;
      }
      .logo img {
      height: 80px;
      margin: 5px;
      }

/* ------------------button-menu-header------------------- */

.button-menu-header {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
[id*="bar"] {
  transition: all 500ms;
  box-shadow: 0px 0px 10px black;
}
.button-menu-header .bar {
    height: 5px;
    width: 30px;
    border-radius: 25px;
    background-color: white;
}
.change {
  opacity: 0;
}
.barinvert {
  height: 5px;
    width: 30px;
    border-radius: 25px;
    background-color: white;
    transform: translateY(4px) rotateZ(-45deg);
}
.barinvertinvert {
  height: 5px;
    width: 30px;
    border-radius: 25px;
    background-color: white;
    transform: translateY(-6px) rotateZ(45deg);

}

/* ------------------Container-BackgroundVideo-ContentVideo------------------- */

.video-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

/* ------------------------------ContentVideo------------------------------ */

.video-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
    .video-container-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .video-container-2 {
    max-width: auto;
    animation: slide-in 2s ease-in-out infinite;
    }

/* -----------------------------Logo-Container-2------------------------------ */

.video-container-2 img {
    width: 100%;
    max-width: 500px;
    transition: ease-in-out 1s;
    filter: drop-shadow(0px 0px 30px rgba(66, 0, 128, 0.322));
}
    .video-container-2 img:hover {
    filter: drop-shadow(0px 0px 30px var(--purple));
    }

      @media (max-width:900px) and (orientation: landscape) {

      header {
        height: 90px!important;
      }

      .video-container-2 img {
        display: none;
      }

      .logo img {
        height: 90px;
        margin: 5px;
        }
    }

/* ------------------------------BackgroundVideo------------------------------ */

.video-background {
    width: 100%;
    height: 100%;
    position: relative;
}
    .video-background::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg , var(--purple-grandient) 0%, transparent 20% ,transparent);
    }
    .video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.25;
    }

/* -----------------------------Main------------------------------ */

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* -----------------------------Transition-Header-BackgroundVideo-X-Main------------------------------ */

.transition {
    background: linear-gradient(180deg, var(--purple-grandient), transparent);
    width: 100%;
    height: 150px;
}
    .small-transition {
    background: linear-gradient(180deg, rgba(140, 0, 255, 0.1), transparent);
    width: 100%;
    height: 25px;
    }
    .small-reverse-transition {
    background: linear-gradient(0deg, rgba(140, 0, 255, 0.1), transparent);
    width: 100%;
    height: 25px;
    }
    .box-transition {
      width: 100%;
      height: 100%;
    }

/* -----------------------------Title - Sections - Container------------------------------ */

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50px;
    background-color: var(--purple-light);
    cursor: default;
    /* animation: shine 2s infinite;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,0.8) 30%, #000 50%, rgba(0,0,0,0.8) 70%);
    mask-size: 200%; */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.507);
}

.title-section h2 {
  animation: shine 2s infinite;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,0.8) 30%, #000 50%, rgba(0,0,0,0.8) 70%);
    mask-size: 200%;
}

.small-title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 45px;
    border-radius: 50px;
    background-color: var(--purple-light);
    cursor: pointer;
    animation: shine 2s infinite;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,0.8) 30%, #000 50%, rgba(0,0,0,0.8) 70%);
    mask-size: 200%;
    border: none;
    box-shadow: 0px 0px 20px black;
}

/* -----------------------------Services - Container------------------------------ */

.ServicesBox {
    width: 100%;
    min-height: 700px;
    padding: 30px;
    /* background-color: rgba(67, 0, 121, 0.486); */
    background-color: #3e007183;
    /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");

    /* background:
      repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 50%) 
       calc(var(--s)/2) calc(var(--s)*tan(30deg)/2),
      repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 50%);
    background-size: var(--s) calc(var(--s)*tan(30deg)); */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
    border-top: 10px solid var(--purple-dark-dark);
    /* border-bottom: 10px solid var(--purple-dark-dark); */
  }

  .containerServices {
      width: 100%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 30px;
      }
      .containerServices .cardServices {
          width: 30%;
          height: 350px;
          min-width: 300px;
          max-width: 450px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: start;
          background-color: var(--purple-medium);
          border-radius: 25px;
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.349);
          transition: all 500ms;
        } /*#hover-card -> to make animations hover on the skill cards */
      .containerServices #hover-card:hover {
        transform: translateY(-5px);
        }
      .containerServices .cardServices .cardServices-Title {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px;
          border-bottom: 3px solid rgba(160, 160, 160, 0.596);
          background-color: var(--purple-light);
          border-radius: 25px 25px 0px 0px;
        }
      .containerServices .cardServices .cardServices-Text {
          height: 100%;
          width: 100%;
          border-radius: 0px 0px 25px 25px;
          position: relative;
        }

        .cardServices [id*="img"] {
        background-position: center;
        background-size: cover;   
          }
        .cardServices #img-1 {
        background-image: url(../images/editing.jpg);
          }
        .cardServices #img-2 {
        background-image: url(../images/maintenance.jpg);
          }
        .cardServices #img-3 {
        background-image: url(../images/Webdeveloper.jpg);
          }

      .containerServices .cardServices .cardServices-Title svg {
        max-width: 60px;
        padding: 5px;
        margin: 10px;
        border: 3px solid white;
        border-radius: 15px;
        box-shadow: 0px 0px 10px black;
      }

/* ------------------------------About Me - Container------------------------------------ */

.AboutMeBox {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;


  /* background-color: #000000!important;
  background-image:  linear-gradient(30deg, #090909 12%, transparent 12.5%, transparent 87%, #090909 87.5%, #090909), linear-gradient(150deg, #090909 12%, transparent 12.5%, transparent 87%, #090909 87.5%, #090909), linear-gradient(30deg, #090909 12%, transparent 12.5%, transparent 87%, #090909 87.5%, #090909), linear-gradient(150deg, #090909 12%, transparent 12.5%, transparent 87%, #090909 87.5%, #090909), linear-gradient(60deg, #09090977 25%, transparent 25.5%, transparent 75%, #09090977 75%, #09090977), linear-gradient(60deg, #09090977 25%, transparent 25.5%, transparent 75%, #09090977 75%, #09090977);
  background-size: 74px 130px;
  background-position: 0 0, 0 0, 37px 65px, 37px 65px, 0 0, 37px 65px; */

  background-color: #020202;
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");


  /* border-top: 10px solid var(--gray-dark); */
  /* border-bottom: 10px solid var(--gray-dark); */
  padding: 40px 0px 40px 0px; 
  gap: 25px;
  }
    .MyCard {
      min-height: 300px;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 50px;
    }

/* Left - Content - AboutMeBox */

      .leftContainer {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
        gap: 30px;
        }
        .leftContainer .Content {
          height: 90%;
          text-align: center;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          }
        .leftContainer .Label {
          width: 100%;
          display: flex;
          justify-content: start;
          align-items: center;
          }
        .leftContainer #reverse-label {
          justify-content: end;
          }

/* Right - Content - AboutMeBox */

      /* .RightContainer {
          min-width: 400px;
          height: 450px;
          border-radius: 25px;
          background-image: url(/assets/src/images/euu.jpg);
          background-position: 0px -90px;
          background-size: cover;
          animation: slide-in 2s ease-in-out infinite;
        } */
        
        .RightContainer {
          background-image: url(../images/euu.jpg);
          /* width: 35rem;
          height: 35rem; */
          min-width: 400px;
          height: 450px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
          border: 3px solid black;
          border: 2px solid black;
          box-shadow: 0px 0px 14px 3px #00000082;
        
        
          animation: morph 8s ease-in-out infinite;
          border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
          position: relative;
          transition: all 1s ease-in-out;
        }
        
          @keyframes morph {
            0% {
              border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            }
        
            50% {
              border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
            }
        
            100% {
              border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
            }
          }
        

/* Button - Download CV */

      .download-CV {
        width: 220px;
        height: 75px;
        font-size: 20px;
        font-weight: 500;
        background-color: rgba(0, 128, 0, 0.856);
        border: 4px solid rgba(0, 128, 0, 0.384);
        border-radius: 40px;
        transition: all 500ms;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        text-decoration: none;
        }
        .download-CV svg {
          width: 30px;
        }
        .download-CV:hover {
          background-color: rgb(0, 173, 0);
          box-shadow: 0px 0px 20px rgba(0, 255, 0,0.2);
        }

/* Transition icon tecnologies animation */

#front-content {
  position: absolute;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.SkillsContainerButton {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SkillsContainerButton #cursor {
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transform: translateX(30px) translateY(30px);

}

/* ------------------------------About Me - Container - Skills------------------------------------ */
    #floatContainer {
      width: 100vw;
      height: 100vh;
      align-items: center;
      justify-content: center;
      position: fixed;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      z-index: 5;

      overflow-y: auto;
      overflow-x: hidden;
      }
        .SkillsBox {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-top: 5px ;
          gap: 30px;
          padding: 50px;
          }
          .floatHidden {
            display: none;
          }
          .floatVisible {
            display: flex;
          }

          /* Button Close Skills Container */

          .SkillsBox button {
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: none;
            cursor: pointer;
          }
              .skills {
                width: 100vw;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                gap: 20px;

                background-color: transparent;
                }
                .AboutMeBox .skills .listskills {
                  width: 500px;
                  height: 350px;

                  padding: 20px;

                  background-color: var(--purple-dark-dark);
                  border-radius: 25px;
                  border: 10px solid var(--purple-light);
                }

          /* Skills Cards - Copy - Cards Services */

          .containerSkills {
            width: 90%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 30px;
            }
            .cardSkills {
                width: 25%;
                height: 340px;
                min-width: 300px;
                max-width: 450px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;

                background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");

                background-color: var(--purple-medium);
                border-radius: 25px;
                box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.349);
                transition: all 500ms;
              } /*#hover-card -> to make animations hover on the skill cards */
            #hover-card:hover {
              transform: translateY(-5px);
              }
            .cardSkills-Title svg {
              max-width: 60px;
              padding: 5px;
              margin: 8px;
              border: 3px solid white;
              border-radius: 15px;
              box-shadow: 0px 0px 10px black;
              }
            .cardSkills-Title {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                border-bottom: 3px solid rgba(160, 160, 160, 0.596);
                /* background-color: var(--purple-light); */
                border-radius: 25px 25px 0px 0px;

                background-color: #252525;
                background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");

              }
            .cardSkills-Text {
                height: 100%;
                width: 100%;
                border-radius: 0px 0px 25px 25px;
                position: relative;
              }          
            .cardSkills-Skills {
              width: 100%;
              display: flex;
              flex-flow: row wrap;
              justify-content: center;
              align-items: center;
              gap: 10px;
            }

/* ------------------------------Projects - Container------------------------------------ */

.ProjectsBox {
  width: 100%;
  height: 100%;

  /* background: linear-gradient(0deg,#13131370, rgba(67, 0, 121, 0.486)); */
  background-color: rgba(67, 0, 121, 0.486);
  /* background-color: #430079; */
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");
  /* border-bottom: 10px solid var(--purple-dark-dark); */
  padding: 30px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 40px;
}

.ProjectsBox .Project-Cards .Project {
  width: 100%;
  height: 100vh;
  background-color: #310058;
  border-radius: 25px;
}

.Project-Cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 30px;
  max-width: 1200px;
  margin: 30px;
}

.Project-Cards a {
  text-decoration: none;
}

.Project-Cards .project {
  width: 370px;
  height: 290px;
  background-color: rgb(20,20,20);
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
}

.project .thumb {
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0px 0px;
  transition: all 500ms;
  overflow: hidden;

  position: relative;
  display: flex;
  justify-content: center;
}

.project .thumb .thumbphoto {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  transition: all 500ms;
  z-index: 1;
  position: absolute;

  image-rendering: pixelated;
}

.project:hover .thumb .thumbphoto{
  transform: scale(1.1);
}

/* Links - Cards */

.link-icons {
  position: absolute;
  z-index: 2;
  bottom: 5px;
  width: 40%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;

  background-color: rgba(0, 0, 0, 0.347);
  border-radius: 25px;
}

.link-icons a svg {
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0));
  height: 30px;
  width: 30px;

  transition: all 500ms;
}

.project .link-icons:hover a svg {
  transform: scale(1.1);
  image-rendering: optimizeQuality;
}

.link-icons a:hover svg {
  filter: drop-shadow(0px 0px 10px var(--purple));
}

.link-icons a:hover svg:his(.thumb) {
  filter: blur(2px) brightness(0.8);
}




/* Description Cards */

.titledescthumb h4 {
  transition: all 500ms;
  font-size: 20px;
  cursor: default;
}

.project:hover .titledescthumb h4 {
  color: var(--purple);
  cursor: default;

}

.project .titledescthumb p {
  font-size: 14px;
  cursor: default;
}

.project .titledescthumb {
  width: 100%;
  height: 40%;
  background-color: #202020;
  /* background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");

  border-radius: 0px 0px 20px 20px;
  padding: 20px;
}

/* -----------------------------Footer------------------------------ */

footer {
    height: 350px;
    width: 100%;
    /* background: linear-gradient(0deg, var(--purple-grandient),transparent , transparent); */
    /* background-color: #252525; */

    background-color: #020202;
    background-image: url("https://www.transparenttextures.com/patterns/lined-paper-2.png");

    /* border-top: 10px solid rgb(32, 32, 32); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
    padding: 20px;
  }

  footer .footerBox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  footer .footerBox a svg {
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 0px 5px black)
  }

  footer span {
    text-shadow: 0px 0px 10px black;
    font-weight: 500;
    color: gray;
  }

/* -----------------------------Audio-Player------------------------------ */

.audio-player {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1%;
}

.audio-player .img-album {
  margin: 10px;
  max-width: 120px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--gray-dark);
}

.player {
  --player-button-width: 3em;
  --sound-button-width: 3em;
  --space: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player h4 {
  text-shadow: 0px 0px 5px var(--purple);
  font-style: italic;
  font-size: 16px;
}

.audio-icon {
   width: 90%;
   height: 90%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.player-button {
  background-color: transparent;
  border: 0;
  width: var(--player-button-width);
  height: var(--player-button-width);
  cursor: pointer;
  padding: 0;
}

.timeline {
  appearance: none;
  width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
  height: .5em;
  background-color: #e5e5e5;
  border-radius: 5px;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, var(--purple) 60%, transparent 100%);
  background-repeat: no-repeat;
}

.timeline::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: var(--purple-dark);
}

.timeline::-moz-range-thumb {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: var(--purple);
}

.timeline::-ms-thumb {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all .1s;
  background-color: var(--purple);
}

.timeline::-webkit-slider-thumb:hover {
  background-color: var(--purple);
}

.timeline:hover::-webkit-slider-thumb {
  opacity: 1;
}

.timeline::-moz-range-thumb:hover {
  background-color: var(--purple-dark);
}

.timeline:hover::-moz-range-thumb {
  opacity: 1;
}

.timeline::-ms-thumb:hover {
  background-color: var(--purple);
}

.timeline:hover::-ms-thumb {
  opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.timeline::-ms-track {
  box-shadow: none;
  border: none;
  background: transparent;
}

.sound-button {
  background-color: transparent;
  border: 0;
  width: var(--sound-button-width);
  height: var(--sound-button-width);
  cursor: pointer;
  padding: 0;
}

.play-pause-icon {
  width: 28px;
}

/* -----------------------------Animations------------------------------ */

@keyframes slide-in {
    0% {
      transform: translateY(0px);
      filter: drop-shadow(0px 0px 5px rgba(81, 0, 128, 0.53));
    }
  
    50% {
      transform: translateY(-10px);
      filter: drop-shadow(0px 0px 20px rgb(87, 0, 128));
    }

    100% {
        transform: translateY(0px);
        filter: drop-shadow(0px 0px 5px rgba(81, 0, 128, 0.53));
      }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

/* -----------------------------Responsivity------------------------------ */

@media screen and (max-width:1040px) {

    .video-content {
        flex-direction: column-reverse;
    }

    .container {
        margin: 20px;
    }

    .AboutMeBox {
      height: 100%;
    }

    .ProjectsBox {
      height: 100%;
    }

}

@media screen and (min-width:1041px) {
  .AboutMeBox {
    min-height: 100vh;
  }

  .ProjectsBox {
    min-height: 100dvh;
  }
}

@media screen and (max-width: 1070px) {
  #floatContainer {
    padding-top: 900px;
    margin-bottom: 100px;
  }

  .SkillsBox {
    padding: 400px;
  }
}

@media screen and (max-width: 700px) {
  .cardSkills {
    width: 25%;
    height: 100%;
  }
}

@media screen and (max-width: 801px) {
    html, body {
      overflow-x: hidden;
      width: 100%;
  }

  .wrapper {
    max-width: 100%;
  }

    body {
      overflow-x: hidden;
    }

    .section-1 {
        display: flex;
        flex-direction: column;
    }

    header {
        height: 150px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    header .menu {
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    header .menu .button-menu-header {
        display: flex;
    }

    header nav {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 45px;
        transition: all 500ms;
    }

    header nav a {
        width: 100%;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        background-color: rgba(31,31,31,255);
        box-shadow: 0px 0px 10px black;
    }

    .logo {
        background-color: rgba(255, 255, 255, 0.5);
        transform: scale(1.1);
    }

    header nav a:focus {
        background-color: gray;
        border: none;
        outline: none;
    }

    .menuOff {
        top: -250px;
        opacity: 0;
    }
    
    .menuOn {
        top: 45px;
        opacity: 1;        
    }

    .card {
      padding: 0px;
    }

    .leftContainer .Label h3 { 
      font-size: 35px;
    }
}

@media screen and (min-width: 800px) {

  /* Header Nav Logo */
  .logo {
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    }

    .logo:hover {
    background-color: rgba(118, 16, 173, 0.5);
    box-shadow: 0px 0px 10px rgba(118, 16, 173, 0.5);
    }

  /* All Sections Config */

  /* Services Section */

  /* Services Before Content */

  /* AboutMe Section */

  .wrapper {
    max-width: 40%;
}

.leftContainer .Label h3 { 
  font-size: 45px;
}

}

@media screen and (max-width: 450px) {

  header {
    height: 120px;
    justify-content: end;
  }

      header .logo a img{
        display: none;
    }

    header nav {
      right: 15px;
    }
    /* header left Logo */

  .logo {
    background-color: transparent;
    display: none;
  }

    /* Home - Background Video - Content - Image */

  .video-container-2 img {
    width: 100%;
    max-width: 200px;
  }

  /* AboutMe RightContainer Image */
  .RightContainer {
    min-width: 250px;
    height: 330px;
    margin: 20px;
    width: 80%;
  }

/* Projects cards */

  .Project-Cards .project {
  width: 300px;
  height: 300px;
  }
}

@media screen and (min-width: 700px) {
  .cardSkills-Skills {
    height: 340px;
  }
}

/* ----------------------------------------------------------------------------------- */

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: papayawhip;
    --color-bg: navy;
    --color-bg-accent: #2626a0;
  }
}

:root {
  --color-text: var(--purple);
  --color-bg: papayawhip;
  --color-bg-accent: #ecdcc0;
  --size: clamp(6rem, 1rem + 20vmin, 5rem);
  /* --size: clamp(10rem, 1rem + 40vmin, 5rem); */
  --gap: calc(var(--size) / 14);
  /* --gap: calc(var(--size) / 14); */
  --duration: 20s;
  --scroll-start: 0;
  --scroll-end: calc(-100% - var(--gap));
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  mask-image: linear-gradient(
    var(--mask-direction, to right),
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );

}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll-x var(--duration) linear infinite;
}

@keyframes scroll-x {
  from {
    transform: translateX(var(--scroll-start));
  }
  to {
    transform: translateX(var(--scroll-end));
  }
}

/* Element styles */
.marquee svg {
  display: grid;
  place-items: center;
  width: var(--size);
  fill: var(--color-text);
  /* background: var(--color-bg-accent); */
  /* aspect-ratio: 16/9;
  padding: calc(var(--size) / 10); */

  padding: 20px;
  background: var(--gray-dark);
  border-radius: 0.5rem;
}

/* Parent wrapper */
.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  margin: auto;
}

@keyframes fade {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
